* {
    margin: 0;
    padding: 0;
}

main, header, section, aside, footer {
    margin: 0;
    padding: 20px;
    color: #ffffff;
}


.header {
    background-color: #03a9f4;
}

.hero {
    background-color: #d22b1f;
}

.content {
    flex: 1;
    background-color: #129a22;
}

.sidebar {
    flex: 0 1 300px;
    border: 1px solid #000000;
    background-color: #673ab7;
}

.footer {
    border: 1px solid #000000;
    background-color: #616161;
}

@media screen and (min-width: 640px) {
    .flex-container {
        display: flex;
        
    }
}

@media screen and (min-width: 1021px) {
    .flex-container {
        min-height: 75vh;
    }
}

.desktop-size {
    margin: auto;
    max-width: 1200px;
}