* {
    margin: 0;
    padding: 0;
}

main, header, section, aside, footer {
    margin: 0;
    padding: 20px;
    color: #ffffff;
    font-family: 'Source Sans Pro';
}


.header {
    background-color: #03a9f4;
}

.hero {
    background-color: #3498db;
}
.hero h1 {
    font-size: 2em;
}
.hero .social-links {
    margin-top: 1%;
    max-width: 80%;
}
.hero .social-links a {
    padding-top: 5%;
    margin-right: 1%;
    color: #3498db;
}
.hero .social-links a i {
    color: #ffffff;
    font-size: 2em;
}

.content {
    flex: 1;
    background-color: #129a22;
}

.sidebar {
    flex: 0 1 300px;
    border: 1px solid #000000;
    background-color: #673ab7;
}

.footer {
    border: 1px solid #000000;
    background-color: #616161;
}

@media screen and (min-width: 640px) {
    .flex-container {
        display: flex;
        
    }
    .hero .social-links {
        margin-top: 1%;
        max-width: 20%;
    }
}

@media screen and (min-width: 1021px) {
    .flex-container {
        min-height: 75vh;
    }
}

.desktop-size {
    margin: auto;
    max-width: 1200px;
}